# Folder attributes
.DS_Store

# Any figure files that could clog up the repository
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.git status

# The grpc build
grpc/

# Any generated protobuf files
protos/cpp/
protos/python/